*{
    padding: 0.5px;
    margin: 0.5px;
}
body{
    
   background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
      
}
#click{
    font-size: 20px;
}
nav{
    
   min-height: 10px;
   text-transform: uppercase;
   letter-spacing: 3px;
   
}
.nav-links{
   
}
.nav-links li{
    list-style: none;
}
.navbar-custom{
    
    background-image: url(220px-Black_colour.jpg);
    color: rgb(184, 184, 180);
  
  opacity: 0.7;
}
ul  li a{
    color: #ccc;

}
#nav :hover{
    background-color: #000;
    color: #fff;
    
}

.item-custom {
    height: 400px;
    
}
.side-adjust{
    padding-left: 0.8cm;
}
.border{
    padding: 10px;
    border: 1.7px solid #fff;
    background: #000;
    
}
.text{
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 9px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 16px;
    
    font-family: cursive, cedarville;
}

.biography{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    height: auto;
    width: auto;
}
.biography :hover {
    background: #fff;
    color: #000;  
}

h4{
    font-size: 20px;
}

.biography a{
    border: 2px solid #fff;
    color: rgb(242, 206, 138);
    margin: 5px;
}


.biography a:hover{
    background: #fff;
    color: #000;

}

.discography{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
    padding: 30px;
    margin-top: 20px;
    
}
.discography img{
    height:200px;
    width: 200px;
    margin-top: 25px;
}
.discography a{
    color: rgb(156, 138, 140);
}
.discography  :hover{
    color: #000;
    background: #fff;
    
}
footer{
   background-image: url(220px-Black_colour.jpg);
   text-align: center;
}
footer a{
    color: #fff;
}
.last a{
    font-size: larger;
    color: #fff;
}
.last a :hover{
    background: #fff;
}
.last img{
    height: auto;
    width: 100%;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 4px;
}

@media only screen and (min-width: 801px) {
    
    #click{
        display: none;
    }
}

@media only screen and (max-width: 800px) {
   
    #nav{
        display: none;
    }

}

